.herobg{

    background-image: url('../images/hero.jpg');

    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.opacitybgcolor{
    background-image: linear-gradient(to right, rgba(0,0,255,0.7) 60% , rgba(180,0,0,0.7) );
    position: absolute;
    height: 100vh;
    width: 100%;
  
}
